include SeismicMesh/generation/cpp/*.cpp
include SeismicMesh/geometry/cpp/*.cpp
include SeismicMesh/migration/cpp/*.cpp
include SeismicMesh/sizing/cpp/*.cpp

include README.rst LICENSE 
global-include CMakeLists.txt 
recursive-include pybind11/include *.h

